# VS Code
.vscode/
.idea/

# C++
*.out
*.o

# Build folders
build/
bin/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

# SFML DLLs
*.dll

# Temp
*.tmp

# Windows binaries and build artifacts
*.a
# Personal Makefile
Makefile